* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-grey-color)
}

:root {
--yellow-color: #f7ee44;
--blue-color: #5DD4FF;
--light-blue-color: #DBF5FF;
--dark-grey-color: #31414f;
--red-color: #FF905D;
--muted-white: #f6f6f6;
}

@keyframes disappear {
  0% { opacity: 1;}
  100% { opacity: 0;}
}
@keyframes revealed {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes orbit {
  0% { transform: rotateZ(0deg)}
  100% { transform: rotateZ(360deg)}
}
 @keyframes orbit2 {
  0% { transform: rotateZ(10deg)}
  100% { transform: rotateZ(370deg)}
} 
@keyframes orbit3 {
  0% { transform: rotateZ(20deg)}
  100% { transform: rotateZ(380deg)}
} 
@keyframes orbit4 {
  0% { transform: rotateZ(30deg)}
  100% { transform: rotateZ(390deg)}
} 
@keyframes orbit5 {
  0% { transform: rotateZ(40deg)}
  100% { transform: rotateZ(400deg)}
} 
@keyframes orbit5 {
  0% { transform: rotateZ(50deg)}
  100% { transform: rotateZ(410deg)}
} 

a { cursor: pointer; text-decoration: none; }
h1, h2, h3 { font-family: 'Ubuntu', sans-serif; }
p { font-weight: 300; }
.disabled { pointer-events: none; }

html,
body {
  margin: 0;
  background-image: url(images/blue_sky.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* scroll-snap-type: y mandatory; */
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  height: 100vh;
}

section {
  z-index: 10;
  height: 80vh;
  width: 100%;
  scroll-snap-align: start;
}

.selection h2,
.selection h2::before, 
li.project-image, 
.active,
.secondary-right,
.tertiary-right,
.secondary-left,
.tertiary-left,
.inactive-left,
.inactive-right,
section#resume h3,
.resume-bbl { transition: all ease-in-out .3s; }

#options,
#options-mobile,
#bio-container,
#projects,
#resume,
#hero {
  background-color: var(--muted-white);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#hero {
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0),55% , var(--muted-white));
  width: 100%;
}

#hero h1,
#hero p {
  font-weight: 600;
  font-size: 10vw;
  margin: 0px;
  color: var(--dark-grey-color);
}

#hero p { font-size: 1.5em; }

/* options */
#options {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.opt-bbl-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--blue-color);
  border-radius: 50%;
  z-index: -1 !important;
  transform: scale(0);
  transition: all .4s ease-in-out;
}

.opt-bbl-container .opt-bbl-inner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: orbit forwards linear infinite 8s;
}

.opt-bbl-container .opt-bbl-1,
.opt-bbl-container .opt-bbl-2,
.opt-bbl-container .opt-bbl-3,
.opt-bbl-container .opt-bbl-4,
.opt-bbl-container .opt-bbl-5 {
  position: absolute;
  border-radius: 50%;
  background: var(--blue-color);
}

.opt-bbl-1 { width: 20px; height: 20px; top: 0%; left: 0%;}
.opt-bbl-2 { width: 30px; height: 30px; bottom: 0%; left: 0%}
.opt-bbl-3 { width: 25px; height: 25px; bottom: 0%; left: 90%}
.opt-bbl-4 { width: 10px; height: 10px; top: 100%; left: 70%}
.opt-bbl-5 { width: 35px; height: 35px; bottom: 90%;left: 50%}

#options-mobile {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.selection,
.resume-bbl {
  width: 200px;
  height: 200px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.selection h2,
.resume-bbl h2{
  position: relative;
  z-index: 10;
  font-weight: bold;
  margin: 0;
  width:  200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection h2::before {
  content: '';
  background-color: var(--blue-color);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  transform: scale(0);
} 

.selection:hover h2:before { transform: scale(1); }
.selection:hover span.opt-bbl-container { transform: scale(1); }

.selection h2:hover { color: #ffffff; }

.selection p {
  /* transform: translateY(50px); */
  transition-duration: .3s;
  opacity: 0;
}

.selection:hover p {
  margin-top: 30px;
  transform: translateY(20px);
  opacity: 1;
}

/* bio container */
#bio-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#bio-image {
  background-image: url(images/lens.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  width: 60%;
  height: 80%;
  left: 40px;
  position: relative;
  transition: ease-in-out all 1s;
}

#bio-text-container {
  width: 40%;
  padding: 50px;
  border-radius: 40px;
  background-color: #a8e8ff;
  position: relative;
  right: 40px;
  min-height: 50%;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

#bio-text-container h2 {
  border: solid 5px #fff;
  color: var(--dark-grey-color);
  padding-bottom: 10px;
  border-width: 0px 0px 5px 0px;
}

/* project list */
#projects > * {
  flex-flow: row;
  justify-content: center;
}


ul#project-list-desktop {
  height: 50%;
  display: flex;
  justify-content: center;
  margin: 0px;
  position: relative;
  padding: 0;
/*   transform-style: preserve-3d;
  transition: all .3s ease-in-out; */
  transition-delay: .1s;
}

.project-btn-container {
  display: flex;
  justify-content: center;
}

.project-btn-container svg {
  fill: #fff !important;
  background: rgba(0,0,0,0);
}

.project-btn-container a {
  background: var(--red-color);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  transition: all ease-in-out .1s;
}

.project-btn-container a:hover { transform: scale(1.2); }

#svg1,
#svg2 {
  height: 30px;
  widtH: 30px;
  margin: auto 10px;
  fill: var(--red-color)
}

#play,
#github {
  fill: #fff;
  height: 20px;
  width: 20px;
  margin: auto;
}

.project-title {
  text-align: center;
  z-index: 0;
  white-space: nowrap;
  font-size: 1em;
  align-self: center;
}

.title-revealed {
  transition: all ease-in-out .5s;
  opacity: 1 !important;
  transform: translateY(250px) !important;
}

.title-hidden {
  transition: all ease-in-out .5s;
  opacity: 0 !important;
  transform: translateY(225px) !important;
}

.project-description {
  width: 600px;
  font-size: 15px;
  transform: translateY(100%);
  opacity: 0;
  text-align: center;
}

li.project-image {
  list-style-type: none;
/*   width: 300px;
  height: 200px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  position: absolute;
/*   transition-delay: .1s; */
  opacity: 1;
  box-shadow: 0px 0px 20px #d4d4d4;
  display: grid;
  align-content: center;
  justify-content: center;
/*   transform-origin: center; */
}

.active { 
  transform: translate(0%) scale(1);
  width: 400px !important;
  height: 300px !important;
  z-index: 15 !important; 
  opacity: 1 !important;

}

.secondary-right,
.secondary-left {
  transform: translateX(170%) scale(1); 
  width: 200px !important;
  height: 200px !important;
  z-index: 10 !important; 
  opacity: 1 !important;

}

.secondary-left { transform: translateX(-170%) scale(1);
}

.tertiary-right,
.tertiary-left {
  transform: translateX(355%) scale(1);
  width: 150px !important;
  height: 150px !important;
  z-index: 5 !important;
  opacity: 1 !important;

}

.tertiary-left { transform: translateX(-355%) scale(1);
}

.inactive-left,
.inactive-right { 
  width: 150px !important;
  height: 150px !important;
  z-index: 0 !important; 
  opacity: 0 !important;
  transform: translateX(-355%) scale(1); 

}

.inactive-right { transform: translateX(355%) scale(1);
}

.arrow-container-desktop { height: 10%; }
.arrow-container-mobile { display: none; }

.arrow { 
  font-size: 40px;
  cursor: pointer; 
}
 
.resume-bbl-container {
  position: absolute;
  width: 200px;
  height: 200px
}

.resume-bbl {
  background: var(--blue-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume-bbl #download-icon {
  fill: #fff;
  width: 30%;
  height: auto;
  transform: translateY(-5px);
}

.resume-bbl-container-1,
.resume-bbl-container-2,
.resume-bbl-container-3,
.resume-bbl-container-4,
.resume-bbl-container-5 {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .3s ease-in-out;
  top: 0;
  left: 0;
}

.resume-bbl-container-1 {animation: orbit infinite linear 3s;}
.resume-bbl-container-2 {animation: orbit2 infinite linear 5s;}
.resume-bbl-container-3 {animation: orbit3 infinite reverse linear 2.5s;}
.resume-bbl-container-4 {animation: orbit4 infinite linear 3.5s;}
.resume-bbl-container-5 {animation: orbit5 infinite reverse linear 5s;}

.res-bbl-1,
.res-bbl-2,
.res-bbl-3,
.res-bbl-4,
.res-bbl-5 {
  background: var(--blue-color);
  position: absolute;
  top: 0%;
  left: 90%;
  z-index: 10;
  border-radius: 50%;
  transition: ease-in-out all .3s;
}

.res-bbl-1 { width: 10px; height: 10px;}
.res-bbl-2 { width: 15px; height: 15px;}
.res-bbl-3 { width: 20px; height: 20px;}
.res-bbl-4 { width: 25px; height: 25px;}
.res-bbl-5 { width: 30px; height: 30px;}

section#resume { justify-content: space-between; }

section#resume h3 {
  color: #fff;
  font-size: 1.5em;
  transform: scale(1);
  opacity: 1;
  transition: .3s
} 

section#resume .resume-bbl:hover h3 {
  opacity: 0;
  transform: scale(0);
}

footer {
  height: 50px;
  background: var(--dark-grey-color);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#download-icon-arrow,
#download-icon-bar {
  fill: #fff;
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 20%;
  opacity: 1;
  transition: ease-in-out .3s all;
  transform: translateY(100%);
}

#download-icon-arrow,
#download-icon-bar {
  fill: #fff;
  height: 30%;
  top: 25%;
  transform: translateY(-100%);
  opacity: 0
}

#download-icon-bar {
  height: 40%;
  top: 30%;
  transform: translateY(100%);
  opacity: 0
}

.resume-bbl:hover #download-icon-arrow,
.resume-bbl:hover #download-icon-bar {
  transform: translateY(0);
  opacity: 1;
}

footer span { align-self: center; }

/* ===============================================================  tablet styles  */
@media screen and (max-width: 900px) {

  html, body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  section {
    height: 100vh;
  }

  #hero p {
    font-size: 1em;
    margin-top: 20px
  }
  
  #options { display: none; }
  #options-mobile {display: flex;justify-content: center;}
  
  #options-mobile a {
    border-radius: 30px;
    box-shadow: 0px 0px 20px #d4d4d4;
    width: 90%;
    margin: 10px 0px;
  }

  #options-mobile .selection {
    width: auto;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 150px;
    /* padding: 10px 0px; */
  }

  #options-mobile .selection:hover h2:before { transform: scale(1); }
  #options-mobile .selection p { margin-bottom: 10px; }
  #bio-container {
    flex-direction: column;
  }

  .selection h2::before {
    display: none;
  } 
  
  .selection h2,
  .selection::before {
    height: 80px;
  }
  
  .selection h2:hover { 
    color: var(--dark-grey-color); 
  }

  .selection p {
    transform: translateY(0px);
    transition-duration: .3s;
    opacity: 1;
    margin: 0px 20px;
  }
  
  .selection:hover p {
    margin: 0px;
    transform: translateY(10px);
    opacity: 1;
  }
  
  #bio-image {
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0px;
  }

  #bio-text-container {
    width: 90%;
    right: 0px;
    left: 0px;
    bottom: 80px;
  }

  #bio-text-container::-webkit-scrollbar {
    width: 5px !important;
  }

  #bio-text-container::-webkit-scrollbar-track {
    width: 10px !important;
    margin: 40px !important;
  }
  
  #bio-text-container::-webkit-scrollbar-thumb {
    background: #fff !important;  
    border-radius: 10px;
    
  }

  .arrow-container-desktop { display: none; }
  .arrow-container-mobile { 
    display: inline-block;
    margin-top: 50px
  }
  .project-description {width: auto;}

  .title-revealed {
    transform: translateY(200px) !important;
  }

  .active { 
  transform: translate(0%) scale(1);
  width: 300px !important;
  height: 200px !important;
}

.secondary-right,
.secondary-left {
  transform: translate(150%) scale(.9); 
  width: 200px !important;
  height: 200px !important;
}

.secondary-left { transform: translate(-150%) scale(.9); }

.tertiary-right,
.tertiary-left {
  transform: translate(330%) scale(.8);
  width: 150px !important;
  height: 150px !important;
}

.tertiary-left { transform: translate(-330%) scale(.8); }

.inactive-left,
.inactive-right { 
  width: 150px !important;
  height: 150px !important;
  transform: translate(-330%) scale(.8); 

}

.inactive-right { transform: translate(330%) scale(.8); }


}

/* ===============================================================  mobile styles  */
 @media screen and (max-width: 620px) {

  #hero {
    padding: 0px 20px;
  }

  #bio-container {
    flex-direction: column;
  }

  #bio-image {
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 0px;
  }

  #bio-text-container {
    width: 90%;
    right: 0px;
    left: 0px;
    bottom:  10%;
    padding: 20px 30px;
    height: 60%;
    overflow-y: auto;
  }

}
